{{define "content"}}

<div class="home-background">
    <div class="hero">
        <div id="typewriterWrap">
            <div id="typewriter">
                <span>$rich</span><span class='operator'> = </span><span>[</span>
                    <span class='string-highlight'>&nbsp'full_stack_dev'</span><span class='operator'>=&gt;</span><span class="bool">true</span>,
                    <span class='string-highlight'>&nbsp'machine_learning'</span><span class='operator'>=&gt;</span><span class="bool">true</span>,
                    <span class='string-highlight'>&nbsp'nlp'</span><span class='operator'>=&gt;</span><span class="bool">true</span>,
                    <span class='string-highlight'>&nbsp'github'</span><span class='operator'>=&gt;</span><span id="github-link" class="bool contact-trigger" data-url="https://github.com/RichDavis1">....</span>,
                    <span class='string-highlight'>&nbsp'linked_in'</span><span class='operator'>=&gt;</span><span id="linkedin-link" class="bool contact-trigger" data-url="https://www.linkedin.com/in/richard-davis-37246950/">....</span>
                <span>];</span>
            </div>  
        </div>
    </div>  
</div>


{{end}}
{{define "media_foot"}}
    <script src="/assets/js/home.bundle.js"></script>
{{end}}