.tbl-head-100{width:100%}
.tbl-head-85{width:85%;}
.tbl-head-80{width:80%;}
.tbl-head-75{width:75%;}
.tbl-head-70{width:70%;}
.tbl-head-65{width:65%;}
.tbl-head-60{width:60%;}
.tbl-head-58{width:58%}
.tbl-head-55{width:55%}
.tbl-head-50{width:50%;}
.tbl-head-49{width:49%;}
.tbl-head-45{width:45%;}
.tbl-head-40{width:40%;}
.tbl-head-35{width:35%;}
.tbl-head-33{width:33%;}
.tbl-head-30{width:30%;}
.tbl-head-25{width:25%;}
.tbl-head-20{width:20%;}
.tbl-head-17{width:17%}
.tbl-head-15{width:15%;}
.tbl-head-13{width:13%;}
.tbl-head-10{width:10%;}
.tbl-head-8{width:8%}
.tbl-head-7{width:7%;}
.tbl-head-5{width:5%;}